{{!< default}}


<nav class="pagination" role="navigation">
    <a id="newer-posts" href="#" style="visibility: hidden;">&larr; Newer |</a>
        <span class="page-number">
            <span id="current-page"></span> / <span id="total-page"></span>
        </span>
    <a id="older-posts" href="#">| Older &rarr;</a>
</nav>
<div class="content"></div>

<script src="//d3js.org/d3.v3.min.js"></script>
<script src="//d3js.org/topojson.v1.min.js"></script>
<script src="assets/js/index.js"></script>