{{!< default}}

<div class="wrapper">
    <div class="sidebar"></div>
    <div class="mainbar"></div>
    <div class="sidebar"></div>
</div>

<script src="//d3js.org/d3.v3.min.js"></script>
<script src="//d3js.org/topojson.v1.min.js"></script>
<script src="assets/js/index.js"></script>