body {
    font-family: 'Special Elite';
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 40px auto 50px;
  height: 98vh;
}

.mainbar {
  font-family: 'Lato';
}

header {
  text-align: center;
  font-weight: bold;
  grid-column-start: 1;
  grid-column-end:   4;
  font-size: 1.56em;
  margin-top: 15px;
}

footer {
  grid-column-start: 1;
  grid-column-end:   4;
  text-align: center;
  margin-top: 20px;
}

/* Links */

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

a:active {
    color: black;
    text-decoration: underline;
}

nav {
  text-align: right;
}

/* Hexagons */

.hexagon {
  fill: white;
  pointer-events: all;
}

.hexagon path {
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
  stroke: white;
  stroke-width: 3;
}

.hexagon .fill {
  fill: steelblue;
}

.hexagon text {
  fill: black;
  font-size: 1.8em;
  text-anchor: start;
}

.hexagon-text:hover {
  fill: lightsteelblue;
}

.hexagon-text {
  cursor: pointer;
  font-family: 'Special Elite';
}

.hexagon-subtitle {
  font-size: 14px;
}

/*
.mesh {
  fill: none;
  stroke: #000;
  stroke-opacity: 0;
  pointer-events: none;
}

.border {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  pointer-events: none;
}
*/
